/*****************************************
 * author: yaoli<yaoli111144@gmail.com>
 * time:   2012-6-16
 * desc:   specific style for apps body
 ******************************************/

/* body */
.banner {
	background: url(img/banner.jpg) no-repeat bottom right;
	height: 400px;
	position: relative;
	margin-bottom: 20px;
	margin-top: 20px;
}

.app-list {
	margin-top: 20px;
}

.app-list h3 {
	font-size: 14px;
	line-height: 36px;
	margin: 0 0 10px;
}

.app-list .wrapper,
.app-list .right-list {
	border: 1px solid #DFDFDF;
	background: white;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.8);
}

.app-list ul {
	margin-left: 0px;
	margin-bottom: 10px;
}

.app-list .today {
	margin-left: 5px;
	margin-bottom: 0px;
}


.app-list .wrapper ul li {
	text-align: center;
	display: inline-block;
	float: left;
	margin: 0px 1px;
	padding: 10px 0px;
	width: 80px;
	min-width: 80px;
	overflow: hidden;
}

.app-list .wrapper a,
.app-list .wrapper a:hover,
.app-list .right-list a,
.app-list .right-list a:hover {
	color: #444;
}

.app-list .wrapper a.img {
	display: block;
	text-align: center;	
}

.app-list .wrapper a.img .desc {
	display: block;
	_display: inline-block;
	height: 18px;
	margin: 3px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.app-list .wrapper img {
	display: block;
	margin: 0 auto;
	width: 48px;
	height: 48px;
}

.app-list .wrapper .install  a,
.app-list .right-list .install  a{
	height: 18px;
	color: #444;
	background-color: #E8E8E8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.25, white), to(#E8E8E8));
	background-image: -moz-linear-gradient(0 25% 270deg, white,#E8E8E8);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#ffffff',EndColorStr='#e8e8e8');
	border: 1px solid #CCC;
	border-radius: 2px;
	display: inline-block;
	padding: 0 10px;
	line-height: 20px\9;
	_line-height: 18px;
	_vertical-align: bottom;
}

.app-list .wrapper .install a:hover,
.app-list .right-list .install a:hover {
	text-decoration: none;
}

.app-list .wrapper .install a:active,
.app-list .right-list .install a:active {
	outline: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(white));
	background-image: -moz-linear-gradient(center top,#E8E8E8,white);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#e8e8e8',EndColorStr='#ffffff');
	text-decoration: none;
}

.app-list .right-list ul {
	margin-left: 4px;
	margin-top: 10px;
}

.app-list .right-list li {
	height: 32px;
	position: relative;
	vertical-align: middle;
	cursor:pointer;
}

.app-list .right-list li span {
	display: inline-block;
}

.app-list .right-list .desc {
	float:left;
	height: 24px;
	line-height: 24px;
	margin-top: 6px;
	margin-left: 4px;
	width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.app-list .right-list .index {
	color: gray;
	line-height: 22px;
	width: 20px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-top: 7px;
}

.app-list .right-list .img {
	margin-left: 5px;
	float: left;
	margin-top: 5px;
}

.app-list .right-list .install {
	position: absolute;
	right: 5px;
	top: 7px;
	display: none;
}

.app-list .right-list .status-icon1,
.app-list .right-list .status-icon2,
.app-list .right-list .status-icon3,
.app-list .right-list .status-icon4
 {
	position: absolute;
	right: 15px;
	top: 9px;
	background: url(img/icon_sprite.png) no-repeat 0 0;
	display: inline-block;
	width: 20px;
	height: 16px;
}

.app-list .right-list .status-icon2 {
	background-position: 0 -16px;
}

.app-list .right-list .status-icon3 {
	background-position: 0 -32px;
}

.app-list .right-list .status-icon4 {
	background-position: 0 -48px;
}

.apps {
	margin-top: 0px;
}

.apps h3 {
	font-size: 14px;
	margin: 0 0 10px;
	line-height: 36px;
	color: #444;
}

.bd .span3 .wrapper,
.bd .span6 .wrapper,
.bd .span7 .wrapper {

	border: 1px solid #DFDFDF;
	background: white;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.8);
}

.bd .classify a {
	padding-left: 6px;
}
.bd .classify .active a {
	padding-left: 0px;
	color: #6A0;
}

.bd .category li.active a {
	padding-left: 0px;
	color: #6A0;
}


.bd .classify a:hover {
	color: #6A0;
	text-decoration: none;
}


.bd .classify a {
	display: inline-block;
	line-height: 22px;
	height: 22px;
	vertical-align: middle;
}


.bd .classify .active span {
	vertical-align: middle;
	border-bottom: 4px dashed transparent;
	border-left: 4px solid #6A0;
	border-right: 0;
	border-top: 4px dashed transparent;
	display: inline-block;
	margin-right: 2px;
	top: 5px;
	*height: 0px;
}

.bd .classify li.active span {
	top: 7px;
}

.bd .classify h3.sub-title {
	color: #999;
	display: block;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 3px 7px;
	line-height: 20px;
}

.bd .first-page {
	position: relative;
	margin: 12px 0 15px 14px;

}


.bd .category {
	margin: 0 0 15px 13px;
	
}

.bd .category  ul li {
	text-align: left;
	padding: 0px;
	line-height: 22px;
	width: 85px;
	min-width: 85px;
}



