/*****************************************
 * author: yaoli<yaoli111144@gmail.com>
 * time:   2012-6-16
 * desc:   specific style for detail page
 ******************************************/

/* body */
.detail-container {
	width: 750px;
	margin: 0 auto;
}

.breadcrumb {
	border: none;
	background: none;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.detail-thumbnails {
	border: 1px solid #D7D7D7;
	background-color: #EDEDED;
	padding: 5px;
	border-radius: 3px;
}

.thumbnail-wrapper {
	width: 84px;
	height: 84px;
	margin-left: 25px;

}

.detail-thumbnails img {
	display: block;
	height: 72px;
	width: 72px;
}

.detail-btn {
	margin-top: 13px;
}

.btn1 {
	display: inline-block;
	height: 32px;
	width: 100px;
}

.btn2 {
	display: inline-block;
	height: 32px;
	width: 29px;
}

.detail-btn-normal,
.detail-btn-status1,
.detail-btn-status2,
.detail-btn-status3 {
	width: 132px;
	height: 32px;
	background: url(img/download-btn.png) no-repeat 0 0;
	cursor: pointer;

}

.detail-btn-status1 {
	background-position: 0 -38px;
}

.detail-btn-status2 {
	background-position: 0 -75px;
}

.detail-btn-status3 {
	background-position: 0 -110px;
}

.detail-btn .dropdown-menu {
	width: 150px;
}

.detail-legend {
	margin-top: 10px;
}

.detail-legend .bold {
	display: inline-block;
	line-height: 20px;
	font-weight: bold;
	color: #777;
	width: 65px;
}

.detail-legend .thin {
	display: inline-block;
	line-height: 20px;
	color: #999;
	width: 85px;
}

.detail-divider {
	height: 1px;
	margin: 8px 1px;
	overflow: hidden;
	background-color: #E5E5E5;
	border-bottom: 1px solid white;
}

i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(img/detail_sprite.png) no-repeat 0 0;
	vertical-align: middle;
}

i.security {
	background-position: 0 -503px;
}

.detail-security span {
	color: #6A0;
	cursor: pointer;
	padding-left: 4px;
}

.popover .sep {
	border-top: 1px solid #EDEDED;
	padding-top: 8px;
	margin-top: 8px;
}

